 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1736px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 57px auto 0;
}

.u-section-1 .u-text-2 {
  width: 793px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 1498px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-1 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-1 .u-text-3 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-2 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 21px;
}

.u-section-1 .u-text-6 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-3 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 21px;
}

.u-section-1 .u-text-9 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-4 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 21px;
}

.u-section-1 .u-text-12 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-5 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 21px;
}

.u-section-1 .u-text-15 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-16 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-6 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 21px;
}

.u-section-1 .u-text-18 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-7 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 21px;
}

.u-section-1 .u-text-21 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 0 15px;
}

.u-section-1 .u-group-8 {
  width: 267px;
  min-height: 329px;
  background-size: auto;
  height: auto;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 21px;
}

.u-section-1 .u-text-24 {
  margin: 24px 0 0 4px;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 36px 8px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 282px;
  height: 375px;
  margin: -325px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 376px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: 376px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: 376px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: 376px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-image-6 {
    height: 376px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-image-7 {
    height: 376px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-image-8 {
    height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 377px;
  }

  .u-section-1 .u-group-2 {
    width: 377px;
  }

  .u-section-1 .u-group-3 {
    width: 377px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-group-4 {
    width: 377px;
  }

  .u-section-1 .u-group-5 {
    width: 377px;
  }

  .u-section-1 .u-group-6 {
    width: 377px;
  }

  .u-section-1 .u-group-7 {
    width: 377px;
  }

  .u-section-1 .u-group-8 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 582px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-5 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-6 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-7 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-8 {
    width: 265px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 200px;
    width: 267px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 366px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 0;
    width: 267px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}